
body {
  background-image: url('./images/DarkDesertNight.png');
}

.container {
  display: flex;
  flex-direction: column;
  color: white;
  background-position-y: 100px;
  height: 100vh;
  padding: 10px;
}

/* .container2 {
  background-color: lightgrey;
  height: 100vh;
  flex-direction: column;
  border: 2px solid purple;
}

.container3 {
  background-color: lightgrey;
  height: 100vh;
  flex-direction: row;
} */

.userStats {
  width: 165px;
  height: 225px;
  border: 2px solid darkgrey;
  margin-top: 20px;
  padding:5px;
  border-radius: 4px;
  font-weight: bold;
}

.opponentStats {
  width: 165px;
  height: 225px;
  border: 2px solid darkgray;
  margin-top: 20px;
  padding:5px;
  border-radius: 4px;
  font-weight: bold;
} 

.shootButton {
  width: 75px;
  margin-bottom: 80px;
  padding: 3px;
  border-radius: 4px;
}

.buttonDiv {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 300px;
}

/* .textField {
  display: flex;
  justify-content: center;
  /* position: fixed;
  top: 0;
  left: 0;
  width: 75px;
  margin-left: 600px;
  margin-top: 300px;
  padding: 3px;
  border-radius: 4px;
} */

.inputNameField {
  border-radius: 5px;
} 

.userMessage {
  
  margin-top: 20px;
  /* align-items: flex-end; */
  font-weight: bold;
  font-size: 30px;
}

.opponentMessage {
  margin-top: 20px;
  font-weight: bold;
  font-size: 30px;
} 

.NameInput {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playerStats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.playerMessages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
}
