
body {
  background-image: url('./images/DarkDesertNight.png');
}

.container {
  color: white;
  background-position-y: 100px;
  height: 100vh;
  padding: 10px;
}

.container2 {
  background-color: lightgrey;
  height: 100vh;
  flex-direction: column;
  border: 2px solid purple;
}

.container3 {
  background-color: lightgrey;
  height: 100vh;
  flex-direction: row;
}

.userStats {
  position: fixed;
  top: 0;
  left: 0;
  width: 165px;
  border: 2px solid darkgrey;
  margin-left: 150px;
  margin-top: 20px;
  padding:5px;
  border-radius: 4px;
  font-weight: bold;
}

.opponentStats {
  position: fixed;
  top: 0;
  right: 0;
  width: 165px;
  border: 2px solid darkgray;
  margin-right: 150px;
  margin-top: 20px;
  padding:5px;
  border-radius: 4px;
  font-weight: bold;
}

.shootButton {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 75px;
  margin-left: 650px;
  margin-bottom: 80px;
  padding: 3px;
  border-radius: 4px;
}

.textField {
  display: flex;
  justify-content: center;
  /* position: fixed;
  top: 0;
  left: 0;
  width: 75px;
  margin-left: 600px; */
  margin-top: 300px;
  padding: 3px;
  border-radius: 4px;
}

.inputNameField {
  border-radius: 5px;
}

.userMessage {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 0px;
}

.opponentMessage {
  display: flex;
  justify-content: flex-end;
  margin-top: 300px;
  font-weight: bold;
  font-size: 30px;
}


